StaticVoidGames/src/main/java/live.properties
StaticVoidGames/.project
StaticVoidGames/.classpath
StaticVoidGames/.settings
StaticVoidGames/target
_site/

StaticVoidGames/src/main/java/local.properties
*.db
