div#contentPane{
	margin-left:225px;
}

div#aboutNavigation{
	background-color:rgba(0, 0, 0, .5);
	float:left;
	width:200px;
	margin-top:125px;
}

a.current{
	color:red;
}

div.aboutDiv img{
	max-width:100%;
}

div.aboutDiv a{
	color:blue;
}