body {
	padding-top: 50px;
}

.starter-template {
 	padding: 40px 15px;
	text-align: center;
}

.blog-post{
	width:75%;
	margin-left:auto;
	margin-right:auto;
}

.thumbnail{
	text-align:center;
}

h2{
	font-size:initial;
}

.container, .container-fluid{
	margin-top:50px;
	min-width:720px;
}

.navigationBar a{
margin-left:5px;
margin-right:5px;
}

a:hover{
color:orange;
}