body {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
	background-size:100% 100%;
	color:white;
	margin:0px;
}


a{
	color:lightBlue;
	text-decoration:none;
}

a:hover{
	color:orange;
	text-decoration:underline;
}

#topBar{
	width:100%;
	min-width:1000px;
	background:black;
}

#siteLogo{
}

#topBarText{
	display:inline-block;
	padding:0px;
	margin:0px;
	vertical-align:top;
}

#navButtons{
	vertical-align:bottom;
}

#navButtons a{
	/*width: 200px;*/
	display:inline-block;
	text-align:center;
	
	border:thin solid darkGray;
	padding-bottom:1px;
	padding-left:10px;
	padding-right:10px;
	

	



	
	background: -moz-linear-gradient(left, #000000, #222222);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',
	endColorstr='#222222' ); /* for IE */
	background: -webkit-gradient(linear, left center, right center, from(#000000), to(#222222) ); /* for webkit browsers */
}

#navButtons a:hover{
	background: -moz-linear-gradient(left, #222222, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222',
	endColorstr='#000000' ); /* for IE */
	background: -webkit-gradient(linear, left center, right center, from(#222222), to(#000000) ); /* for webkit browsers */
}

/*This is the div under the menu that makes everything else centered*/
#contentPane{
	width:960;
	margin-left: auto;
    margin-right: auto;
}
